<a href="https://colab.research.google.com/github/CHATAKONDARENUKA/chemical-python/blob/master/day_10(31_012020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loops
- while loop
- for loop

In [2]:
# print numbers from 1 to n
# input 10
# 1 2 3 4 5......10
n = int(input("enter a number"))
i = 1
while i <= n:
  print(i,end = " ")
  i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [7]:
# print numbers from 1 to n
# input 10
n = int(input("enter a number"))
i = 0
sum = 0
while i<= n:
      sum = sum+i
      i = i+2
print(sum)

enter a number10
30

In [13]:
# print palindrome number
n = int(input("enter number"))
rem=0
num=0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
print(num)

enter number123
321

# Functional programming
- simple
- easy to understand
- better reusability
- lengthy program will be divided in to sub programs

In [0]:
def nameofthefunction(<parameter>)
 statements
 return

In [22]:
# print sum of even numbers
# input:1234
# output:(2+4)=6
def sumofevendigits(n):
    s = 0
    while n!= 0:
      r = n%10
      if r%2==0:
        s=s+r
      n = n//10
    return s 
sumofevendigits(1234)

6

In [27]:
# print the largest digit
# input:1542
# output:5
def large(n):
  prev = 0
  next = 0
  while n!= 0:
    prev=next
    next=n%10
    if(prev>next):
      next=prev
    n=n//10
  return next
large(12345)

5

# For loop
# syntax:
# for in range(start,stop,step):
#        statements

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [28]:
# Print the numbers using function between limits
# input:11 25
# output:11 12 13 14 ....... 25
def printseries(fn,ln):
 for i in range(fn,ln+1):
  print(i,end=" ")
 return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [30]:
# input:500,520
# output:500'504' ..... 520
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries(500,520)

500 504 508 512 516 520

# collection types
- list
- tuple
- dictionary

# list:
- one of the data structure in python
- data structure means to store,sort and search options
- its one common data structure in python,the items of list seperated by comma and enclosed by square brackets
- in list we can change values
- ex:
- list1=[1,2,3,4,5]
- list=["JNTUA","DSAD","asds"]

In [31]:
li = [1,4,3,2]
print(li)

[1, 4, 3, 2]

In [33]:
li = [1,4,3,2]
print(li[2])
print(li[-2])

3
3

In [34]:
li = [1,4,3,2]
print(li[2])
print(li[-2])
print(li[2:])

3
3
[3, 2]

In [39]:
li = [1,4,3,2]
print(li[2])
print(li[-2])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[::2])
print(li[::3])
print(li[::1])

3
3
[3, 2]
[3, 2]
[4, 3]
[1, 3]
[1, 2]
[1, 4, 3, 2]

In [43]:
# update list
li = ["JNTUA",4,"ANTPR",6,3]
print(li)
li[1]="154"
print(li)
li[3]="850"
print(li)
# delete list item
del li[2]
print(li)

['JNTUA', 4, 'ANTPR', 6, 3]
['JNTUA', '154', 'ANTPR', 6, 3]
['JNTUA', '154', 'ANTPR', '850', 3]
['JNTUA', '154', '850', 3]

In [48]:
# Basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(6 in li)
print(4 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
False
True

# List functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [51]:
li = [3,4,5,6,7]
print(max(li))
print(min(li))
print(sum(li))

7
3

TypeError: ignored