<a href="https://colab.research.google.com/github/CHATAKONDARENUKA/chemical-python/blob/master/day_9(30_012020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**points**

*points*

## ***points***

In [1]:
print("hello")

hello

*** Adding links to markdown***

# [site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Ana

### inserting image
![text](https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/JNTU_College_of_Engineering_Anantapur.jpg/220px-JNTU_College_of_Engineering_Anantapur.jpg)

In [2]:
print("hello world")

hello world

In [0]:
# Variable creation

In [4]:
print("hello, jntua")
print("hello , jntua","|||" ,"chemical","|||","cse","|||")

hello, jntua
hello , jntua ||| chemical ||| cse |||

# Assignment

In [8]:
n1=100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multi variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Datatypes and conversions
* int
* float
* string

In [9]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [10]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user---input functions

In [16]:
a = input("enter your name : ")
print(a)
print(type(a))

enter your name : renuka
renuka
<class 'str'>

In [17]:
B = int(input("enter your age : "))
print(B)
print(type(B))

enter your age : 20
20
<class 'int'>

# Operators
- operator is a symbol used to perform a specific kind of operations

# Arthemetic operator
- +
- -
- *
- /
- %
- //
- **

In [19]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operators
- =
- ==
- !=
- <
- >
- <=
- >=

In [20]:
x = 10
a1 = x > 15
print(a1)

False

# Logical operators
- and
- or
- not

In [21]:
i = 100
a1 = (i>15) and (i < 800)
a2 = (i>15) and (i>800)
print(a1)
print(a2)

True
False

In [22]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
print(a1)
print(a2)

True
True

In [24]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional
- looping

# If - else statements
## syntax
# if Boolean_condition
# statements
# else:
# statements

In [31]:
# To check given is even or odd
n = int(input("enter a number"))
if n%2 == 0:
   print(n,"is even number")
else:
   print(n,"is odd number")

enter a number50
50 is even number

In [35]:
# To check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
  print(n,"is multiple of 3 and 5")
else:
  print(n,"is not multiple of 3 and 5")

enter a number30
30 is multiple of 3 and 5

In [39]:
# To check given number is +ve,-ve or zero
n = int(input("enter a number"))
if n>0:
  print(n, "n is positive number")
else:
  print(n, "n is negative number")

enter a number10
10 n is positive number

In [43]:
# To check which number is greatest among the three numbers
n = int(input("enter n"))
n1 = int(input("enter n1"))
n2 = int(input("enter n2"))
if (n>n1 and n>n2):
  print(n, "n is greatest")
elif(n1>n and n1>n2):
  print(n, "n1 is greatest")
else:
  print(n, "n2 is greatest")

enter n2
enter n13
enter n24
2 n2 is greatest

In [46]:
# to check given year is leap year or not
n = int(input("enter a year"))
if (n%4 == 0 and n%400 == 0):
  print("n is a leap year")
else:
  print("n is not a leap year")

enter a year2020
n is not a leap year